
body {    
  background-color: #000000;
  margin: 0 !important;
  padding: 0 !important;
}
ul{margin: 0; }
li,a{display:block; text-decoration: none; list-style-type:none; color:white;}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
  font-family: 'Poppins', sans-serif;
}
a:hover {
  border: 5px, solid white;
}
a{font-weight: bold;}
@media only screen and (min-width: 768px){
.pages{
  position: absolute;
  top:4rem;

  color:white;
}}